.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
}

body p {
  color: #757575;
}

a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: #2196F3;
}

.logo--header {
  color: #212121;
}

.logo--footer {
  color: #ffffff;
}

.header {
  position: relative;
  background-color: #ffffff;
}

.container.page-header__container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container.page-header__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container.page-header__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container.page-header__container {
    width: 1200px;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 70;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgb(141, 253, 93);
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
.menu-container.is-open {
  display: block;
}

.page-header--portfolio {
  border-bottom: 1px solid #ececec;
}

/* Site nav */
.main-nav {
  display: flex;
  align-items: center;
  padding: 16px 16px;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .main-nav {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    padding: 16px 15px;
  }
}
.main-nav__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .main-nav__button {
    display: none;
  }
}
.main-nav__button .icon-close {
  display: none;
}
.main-nav .main-nav__button.is-open .icon-close {
  display: block;
}
.main-nav .main-nav__button.is-open .icon-open {
  display: none;
}
.main-nav__list {
  display: none;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .main-nav__list {
    display: flex;
  }
}
.main-nav__item + .main-nav__item {
  margin-left: 50px;
}
.main-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-nav__link {
    display: inline-block;
  }
}
.main-nav__link:hover, .main-nav__link:focus {
  color: #2196F3;
}
.main-nav__link.current {
  color: #2196F3;
  position: relative;
}
.main-nav__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  bottom: 0;
  background-color: #2196F3;
}

/* Contacts */
.contacts {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
  }
}
.contacts__item + .contacts__item {
  margin-left: 30px;
}
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    padding: 0;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: #2196F3;
}
.contacts__icon {
  margin-right: 10px;
  fill: #AFB1B8;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section--short-bottom {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section--short-bottom {
    padding-bottom: 47px;
  }
}
.section--short-top {
  padding-top: 60px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--short-top {
    padding-top: 47px;
    display: block;
  }
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.hero .container {
  width: 100%;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.hero {
  text-align: center;
  padding: 118px 60px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero.hero-image {
  margin: 0 auto;
  max-width: 1600px;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpegs/bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero.hero-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpegs/bg-mob-img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero.hero-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpegs/bg-tablet-1x.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero.hero-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpegs/bg-tablet-img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero.hero-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpegs/bg-desktop-1x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero.hero-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/jpegs/bg-desktop-Img@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero.hero-image {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero.hero-image {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero.hero-image {
    width: 1200px;
  }
}
.hero__button {
  border: none;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 24px;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    min-width: 216px;
  }
}

.title {
  margin-bottom: 10px;
}

.text {
  margin: 0;
}

/* Button */
@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .feature-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .feature-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .feature-list__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .feature-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.feature-list__title {
  margin-bottom: 10px;
  margin-top: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .feature-list__title {
    text-align: center;
  }
}
.feature-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.feature-list__item--attention::before {
  display: block;
  margin-bottom: 30px;
  content: "";
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-image: url("../images/antenna.svg");
}

.feature-list__item--punctuality::before {
  display: block;
  margin-bottom: 30px;
  content: "";
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-image: url("../images/clock.svg");
}

.feature-list__item--planning::before {
  display: block;
  margin-bottom: 30px;
  content: "";
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-image: url("../images/diagram.svg");
}

.feature-list__item--technologies::before {
  display: block;
  margin-bottom: 30px;
  content: "";
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-image: url("../images/astronaut.svg");
}

.work {
  display: flex;
}
.work__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}
.work__item + .work__item {
  margin-left: 30px;
}
.work__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .staff-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.staff-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .staff-list__item:not(last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .staff-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .staff-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .staff-list__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .staff-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .staff-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.staff-list__info {
  padding-top: 30px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .staff-list__info {
    padding-bottom: 30px;
  }
}
.staff-list__name {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.staff-list__text {
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team {
  background-color: #F5F4FA;
}

.social {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196F3;
  outline: transparent;
}

.social__link--team {
  color: #AFB1B8;
  background-color: #ffffff;
}

.social__link--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link--footer:hover, .social__link--footer:focus {
  background-color: #2196F3;
  outline: transparent;
}

.social__icon {
  fill: currentColor;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 92px;
  width: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  display: block;
  fill: currentColor;
}

.clients__item:hover .clients__link {
  border-color: #2196F3;
  color: #2196F3;
}
@media screen and (max-width: 766px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .clients__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
  .clients__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 767px) {
  .clients__item {
    margin-right: 0;
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link:focus {
  outline-color: #2196F3;
  color: #2196F3;
}

.link-footer-info {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .link-footer-info {
    margin-top: 0;
    width: 206px;
    height: 80px;
  }
}
.join {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .join {
    margin-top: 12px;
  }
}

.footer-nav__email-link:focus, .footer-nav__email-link:hover {
  color: #2196F3;
}

.footer-nav__phone-link:focus, .footer-nav__phone-link:hover {
  color: #2196F3;
}

.container.page-footer__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container.page-footer__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container.page-footer__container {
    width: 768px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .container.page-footer__container {
    width: 1200px;
    text-align: start;
  }
}

.social-links .footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.page-footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer a {
  text-decoration: none;
}

.footer-nav__map-link {
  color: #ffffff;
}

.footer-nav__map-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__map-link:hover, .footer-nav__map-link:focus {
  color: #2196F3;
}

.footer-nav__map {
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav__map,
.footer-nav__email {
  margin-bottom: 8px;
}

.footer-nav__email-link,
.footer-nav__phone-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__map {
  margin-top: 20px;
  margin-bottom: 8px;
}

.footer-nav__phone,
.footer-nav__email {
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav__email {
  margin-bottom: 8px;
}

.address {
  font-style: normal;
}

.footer-subscribe {
  margin-top: 12px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-subscribe {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-subscribe {
    width: 570px;
    height: 86px;
  }
}

.footer-subscribe__title {
  margin-top: 60px;
  margin-bottom: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__title {
    margin-top: 0;
  }
}

.footer__form {
  display: block;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
  }
}

.footer-form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #2196F3;
  min-height: 50px;
  min-width: 200px;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer-form__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    display: flex;
    width: 200px;
    height: 50px;
  }
}

.footer-form__input {
  margin-bottom: 20px;
  margin-right: 12px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__button-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.footer-form__button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.footer-subscribe-box {
  display: block;
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.icon-btn-close {
  fill: currentColor;
}

.client-form {
  padding: 40px;
  flex-direction: column;
}

.client-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}

.client-form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  position: relative;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  color: #757575;
}
.client-form__label:hover .client-form__input {
  border-color: #2196F3;
}
.client-form__label.client-form__label--last {
  margin-bottom: 20px;
}

.client-form__input {
  margin-top: 4px;
  padding: 12px 42px;
  width: 448px;
  height: 40px;
  font-size: 16px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-form__input:focus {
  border-color: #2196F3;
  outline: transparent;
}

.client-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: #212121;
  transform: translateY(calc(-50% + 11px));
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-form__label:hover .client-form__icon {
  fill: #2196F3;
}
.client-form__input:focus ~ .client-form__icon {
  fill: #2196F3;
}

.client-form__comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-form__comment:hover, .client-form__comment:focus {
  border-color: #2196F3;
  outline: transparent;
}

.icon-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-form__label-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  color: #757575;
}

.client-form__icon-checkbox {
  display: inline-block;
  align-self: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.client-form__input-policy:checked + .client-form__icon-checkbox {
  background-image: url(../images/icon-checkbox.svg);
  background-size: contain;
  background-color: #2196F3;
  background-origin: border-box;
  border-color: transparent;
}

.client-form__link-policy {
  margin-left: 5px;
  color: #2196F3;
  text-decoration: underline;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #212121;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover, .btn-close:focus {
  color: #2196F3;
}

.btn--form-submit {
  width: 200px;
  height: 50px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #2196F3;
}
.btn--form-submit:hover, .btn--form-submit:focus {
  background-color: #188ce8;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 479px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.filter-list__item + .filter-list__item {
  margin-left: 8px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 50px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .filter-list {
    width: 326px;
    height: 91px;
    margin: 0 auto;
    padding: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    width: 575px;
    height: 54px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    width: 1200px;
  }
}

.filter-list__button {
  padding: 6px 22px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover, .filter-list__button:focus {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list li {
  list-style: none;
}

.project-list a {
  text-decoration: none;
}

.project-list__link {
  display: block;
}

.project-list__actions-box::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  opacity: 0.5;
}

.project-list__link:hover .project-list__actions-text {
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-list__actions-box {
  position: relative;
}

.project-list__actions-text {
  display: block;
  position: absolute;
  width: 322px;
  height: 168px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__media-package {
  position: relative;
  overflow: hidden;
}

.project-list__media-package::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link:hover, .project-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__actions-box:hover .project-list__media-package::before {
  opacity: 0.9;
  transform: translateY(0);
}

.project-list__link:focus:focus .project-list__media-package::before {
  opacity: 0.9;
  transform: translateY(0);
}

.project-list__link:focus .project-list__actions-text {
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-list__card-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list__card-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .project-list__item:not(last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .project-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .project-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .project-list__item:nth-child(-n+7) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .project-list__item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
  .project-list__item:nth-child(-n+6) {
    margin-bottom: 30px;
  }
}
.project-list .project {
  width: 370px;
  background-color: #ffffff;
}
.project-list .project-list__card-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  padding: 40px 48px;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.burger-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu__link:hover, .burger-menu__link:focus {
  color: #2196F3;
}
.burger-menu__link.current {
  color: #2196F3;
}
.burger-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}
.burger-menu__contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.burger-menu__contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.burger-menu__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
.burger-menu__social-link {
  display: inline-block;
  padding: 0 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  border-right: 2px solid rgba(33, 33, 33, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu__social-link:hover, .burger-menu__social-link:focus {
  opacity: 0.5;
}
.burger-menu__social-item:first-child .burger-menu__social-link {
  padding-left: 0;
}
.burger-menu__social-item:last-child .burger-menu__social-link {
  padding-right: 0;
  border-right: none;
}
.burger-menu .btn-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
}
.burger-menu .btn-menu-close .icon-btn-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu .btn-menu-close:hover .icon-btn-close, .burger-menu .btn-menu-close:focus .icon-btn-close {
  fill: #2196F3;
}

.burger-menu.is-open {
  transform: translateX(0);
}/*# sourceMappingURL=main.css.map */