@import './utils/vars';
@import './global/reset';
@import './utils/visually-hidden';
@import './global/container';
@import './global/title';
@import './global/logo';
@import './components/header';
@import './global/section';
@import './global/section-title';
@import './components/hero';
@import './components/feature-list';
@import './components/work-list';
@import './components/section-team';
@import './global/social';
@import './components/clients';
@import './components/footer';
@import './global/backdrop';
@import './global/modal';
@import './components/forms';
@import "./components/portfolio";
@import "./components/burger-menu";