
.join {
  
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-text;

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    
  }
}


.footer-nav__email-link {

  &:focus, &:hover {
  color: $accent-color;
  }
}


.footer-nav__phone-link {

  &:focus, &:hover {
  color: $accent-color;
  }
}


.container.page-footer__container {

    @media screen and(max-width:767px) {
      flex-direction: column;
      }
      @media screen and (min-width:768px) and (max-width:1200px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
      }
      @media screen and(max-width:1200px){
        text-align: center;
      }
      @media screen and(min-width:1200px){
        display: flex;

      }

}
.page-footer__wrapper{
    
    @media screen and(max-width:1200px) {
      &:nth-child(-n+2){
        margin-bottom: 60px;
    }
  }

  @media screen and(min-width:1200px){
    &:not(:first-child) {
      margin-left: auto;
      margin-top: 12px;
    }
  }
    &:first-child {
      display: flex;
      flex-direction: column;
    }


}


.social-links .footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.page-footer {
  background-color: $secondary-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  
  
  
}

.page-footer a {
  text-decoration: none;
}

.footer-nav__map-link {
  color: $white-text;
}

.footer-nav__map-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-nav__map-link {

  &:hover, &:focus {
  color: $accent-color;
  }
}

.footer-nav__map {
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav__map,
.footer-nav__email {
  margin-bottom: 8px;
}

.footer-nav__email-link,
.footer-nav__phone-link {
  color: $footer-contacts-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__map {
  margin-top: 20px;
  margin-bottom: 8px;
}

.footer-nav__phone,
.footer-nav__email {
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav__email {
  margin-bottom: 8px;
}
.address {
  font-style: normal;
  
}
// .footer-subscribe {

//   @media screen and (min-width: 768px) {
//   align-items: center;
//   justify-content: center;

//   @media screen and (min-width: 1200px) {
//     width: 570px;
//     height: 86px;
//   }
  
  
// }
 
  
  

.footer-subscribe__title {
  margin-bottom: 20px;
  color: $white-text;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

}


.footer__form {
 
  display: block;
  width: 100%;


  @media screen and (min-width: 1200px) {
    display: flex;
    
  }


 
  
  
  
  
}
.footer-form__button {
  display: inline-flex;
  // display: block;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  min-height: 50px;
  min-width: 200px;
  color: $white-text;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
  display: block;
  margin-left: auto;
  margin-right: auto;
    
}

  @media screen and (min-width: 1200px) {
  display: flex;
  width: 200px;
  height: 50px;
    
  }

  
  
  
}
.footer-form__input {
  margin-bottom: 20px;
  margin-right: 12px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 50px;
  background-color: $secondary-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

@media screen and (min-width: 768px) {
  width: 450px;

  @media screen and (min-width: 1200px) {
    width: 358px;
    
  }
  
  
}





}


.footer-form__button-title {
  color: $white-text;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.footer-form__button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: $white-text;
  
}
.footer-subscribe-box {
  // display: flex;
  display: block;
  width: 100%;
 
 
}
