.header {
  position: relative;
  background-color: $primary-bg-color;
}

.container.page-header__container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 70;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgb(141, 253, 93);
  padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }
}

.page-header--portfolio {
  border-bottom: 1px solid #ececec;
}

// .current-pointer {
//   position: absolute;
//   bottom: 0;
//   width: 78px;
//   height: 4px;
//   border-radius: 4px;
//   background-color: $accent-color;
// }

/* Site nav */
.main-nav {
  display: flex;
  align-items: center;
  padding: 16px 16px;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 16px 15px;
  }

  &__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__button .icon-close {
    display: none;
  }

  .main-nav__button.is-open .icon-close {
    display: block;
  }

  .main-nav__button.is-open .icon-open {
    display: none;
  }

  .main-nav__button:hover {
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-open {
    fill: currentColor;
  }

  &__list {
    display: none;
    margin-left: 93px;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__item + &__item {
    margin-left: 50px;
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: inline-block;
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &.current {
      color: $accent-color;
      position: relative;
    }

    &.current::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      //   display: block;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      //   display: flex;
      bottom: 0;
      background-color: $accent-color;
    }
  }
}

/* Contacts */

.contacts {
  display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__item:first-child {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    &__item + &__item {
      margin-left: 30px;
    }
  }

  &__link {
    display: flex;

    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 0;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &:hover .contacts__icon,
    &:focus .contacts__icon {
      fill: $accent-color;
    }
  }
  &__icon {
    margin-right: 10px;
    fill: $icon-gray-color;
  }
}

//  .menu-container {
//     position: absolute;
//     top: 100;
//     left: 0;
//     width: 100%;
//     height: 400px;
//     background-color: rgba(42, 211, 42, 0.537);
//     padding: 20px;
//     text-align: center;
//     font-size: 20px;
//   }

// .main-nav__list {
//   // display: flex;
//   display: block;
//   margin-left: 93px;
// }

// .main-nav__item + .main-nav__item {
//   // margin-left: 50px;
//   margin: 0;
// }

// .main-nav__link {
//   // padding-top: 32px;
//   // padding-bottom: 32px;
//   color: $title-text-color;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .main-nav__link {

//   &:hover, &:focus {
//   color: $accent-color;
//   }
// }

// .main-nav__link {

//   &.current {
//   color: $accent-color;
//   position: relative;
//   }
// }

// .main-nav__link {

//   &.current::after {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   //   display: block;
//   width: 100%;
//   height: 4px;
//   border-radius: 4px;
//   //   display: flex;
//   bottom: 0;
//   background-color: $accent-color;
//   }
// }

// .contacts__item + .contacts__item {
//   // margin-left: 30px;
//   margin: 0;
// }

// .contacts__link {
//   // display: flex;
//   display: block;
//   align-items: center;
//   // padding-top: 32px;
//   // padding-bottom: 32px;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: $primary-text-color;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .contacts__link:hover,
// .contacts__link:focus {
//   color: $accent-color;
// }

// .contacts__link:hover .contacts__icon,
// .contacts__link:focus .contacts__icon {
//   fill: $accent-color;
// }

// .contacts__link {

//   &:hover, &:focus {
//   color: $accent-color;
//   }
// }

// .contacts__link {

//   &:hover .contacts__icon,
//   &:focus .contacts__icon {

//   fill: $accent-color;
//   }
// }

// .contacts__icon {
//   margin-right: 10px;
//   fill: $icon-gray-color;
// }
