.staff-list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    background-color: $primary-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      flex-basis: calc((100% - 30px) / 2);
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }

      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__info {
    padding-top: 30px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    @media screen and(min-width: 1200px) {
      padding-bottom: 30px;
    }
  }

  &__name {
    color: $title-text-color;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
}
.team {
  background-color: $button-filters-bg;
}

// .staff-list__name {
//   color: $title-text-color;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.18;
//   letter-spacing: 0.03em;
//   margin-bottom: 10px;
// }
// .staff-list__text {
//   font-size: 16px;
//   line-height: 1.18;
//   font-weight: 400;
//   letter-spacing: 0.03em;

//   margin-bottom: 16px;
// }

// .staff-list__info {
//   padding: 30px;
// }
